li(class="dropdown")
	a(href="#" class="dropdown-toggle" data-toggle="dropdown")
		| 个人中心
		span(class="caret")
	ul(class="dropdown-menu" role="menu")
		li
			a(href="#") 设置个人资料
		li
			a(href="/setAvatar") 修改头像
		li(class="divider")
		li
			a(href="javascript:void(0);" id="exit") 退出